:root{
    --name-text-color:#B4AD9E;
    --main-text-color:#626262;
    --text-accent-color:#03A9F4;
    --header-link-color:#7D7D7D;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header-link:hover{
 color: var(--text-accent-color);   
}
.container{
    outline: 1px solid red;
    width: 906px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 92px;
}
.header-list{
    display: flex;
    justify-content: center;
    gap: 100px;
    border: 1px solid green;
}
.header-link{
    color: var(--header-link-color);
    
        font-family: Playfair Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

}
.gallery-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    column-gap: 65px;
}
.gallery-item{
    width: 420px;
}
.gallery-category{
    color: var(--name-text-color);
    
        font-family: Ubuntu;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 62px;
}
.gallery-title{
    color: var(--main-text-color);
    
        font-family: Playfair Display;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 32px;
        padding-bottom: 40px;
}
.gallery-text{
    color: var(--main-text-color);
    
        font-family: Playfair Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}
.gallery-button{
        font-family: "Playfair Display";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
    padding: 20px 40px;
    width: 165px;
    height: 60px;
    background-color: transparent;
    display: block;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
}
